@font-face
  font-style: normal
  font-weight: 400
  font-family: "JetBrains Mono"
  src: url("../lib/jetbrains-mono/JetBrainsMono-Regular.woff2") format("woff2")

@font-face
  font-style: italic
  font-weight: 400
  font-family: "JetBrains Mono"
  src: url("../lib/jetbrains-mono/JetBrainsMono-Italic.woff2") format("woff2")

@font-face
  font-style: normal
  font-weight: 700
  font-family: "JetBrains Mono"
  src: url("../lib/jetbrains-mono/JetBrainsMono-Bold.woff2") format("woff2")

@font-face
  font-style: italic
  font-weight: 700
  font-family: "JetBrains Mono"
  src: url("../lib/jetbrains-mono/JetBrainsMono-BoldItalic.woff2") format("woff2")
